<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giro Cloud</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" />-->
    <style>
        html {
            background-image: url(/images/Giro.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Welcome to Giro Cloud</h1>
</body>
</html>