<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giro Cloud</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" />-->

    <style>
        html {
            background-image: url(/images/GiroCloud.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <div th:if="${error}">
        Unable to login. Chech your username and password.
    </div>

    <p>New here? Click
        <a th:href="@{/register}">here</a> to register.</p>
    <form method="post" th:action="@{/login}" id="loginForm">

        <label for="username">Username: </label>
        <input type="text" name="username" id="username" /><br/>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br/>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <input type="submit" value="Login"/>
    </form>

    <hr/>
    <form method="post" th:action="@{/logout}" >
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>